.container {
  background-color: #161616;
  background-size: cover;

  height: 100%;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  color: white;

  font-size: 1.7rem;
  font-weight: bold;
}

.filters {
  border-radius: 8px;

  height: 100px;
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #282828;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.filters select {
  background-color: #a4a4a4;
  color: #191c1f;
  font-weight: bold;
  font-size: 15px;

  width: 120px;
  height: 35px;

  border: none;
  border-radius: 5px;

  margin: 10px;
}

.filters button {
  background-color: #a4a4a4;
  color: #191c1f;
  font-weight: bold;
  font-size: 15px;

  width: 100px;
  height: 35px;

  border: none;
  border-radius: 5px;

  margin: 10px;
}
