.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/form.jpg");
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.welcome {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.message {
  padding: 1rem;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Ajusta según tus preferencias */

  background-color: rgb(51, 51, 51, 0.602);
  border-radius: 8px;

  font-weight: bold;
}

.message h2 {
  font-size: 1.7rem;
  padding: 1rem;
}

.message button {
  width: 200px;
  border: solid thin white;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: bold;
  margin-top: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #222;
}

.guestContainer {
  background-color: rgb(51, 51, 51, 0.602);
  border-radius: 8px;

  font-weight: bold;

  margin-top: 20px;

  width: 100%;
}

.guestContainer button {
  border: solid thin white;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  color: #222;
}

.form {
  height: 500px;
  width: 400px;

  padding: 1rem;
  margin: 2rem;

  border-radius: 8px;

  background-color: rgb(51, 51, 51, 0.602);
}

.form h2 {
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

.form div {
  margin-bottom: 2rem;
}

.form input {
  width: 80%;
  display: block;
  margin: auto;
  background-color: transparent;
  text-align: center;
  padding: 0.2rem 0;
  font-size: 0.9rem;
  color: white;
}

.form span {
  color: red;
}

.form p {
  cursor: pointer;
}

.form button {
  width: 60%;
  border: solid thin white;
  padding: 0.7rem;
  border-radius: 2rem;
  background-color: white;
  font-weight: bold;
  margin-top: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #222;
}

.form button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
