.alertContainer {
  position: fixed;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999; /* Asegura que la alerta esté sobre todo */
}

.alertContainer span {
  background-color: #ff5252; /* Color de fondo distintivo */
  color: white;
  padding: 10px;
}
