.alertContainer {
  position: fixed;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999; /* Asegura que la alerta esté sobre todo */
}

.alertContainer span {
  background-color: white; /* Color de fondo distintivo */
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}
