.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #39064e;
  color: #eceff1;
  border-radius: 8px;
  padding-left: 5px;
  height: 400px;
  width: 250px;
}

.name {
  font-size: 14px;
  border: 1px solid white;
  display: block;
}

.characterImage {
  display: block;
  width: 200px;
  height: 150px;
}

.infoCard {
  font-size: 12px;
  margin-top: auto;

  border: 1px solid white;
}
