.navContainer {
  background-color: #282828;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
}

.navContainer button {
  height: 50px;
  border-radius: 10px;
  border: none;
  background: none;
  color: #eceff1;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.navContainer button:hover {
  color: #04adbf;
}

.navBar_left {
  display: flex;
  margin-right: auto;
}

.navBar_left img {
  width: 150px;
  height: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.navBar_right {
  margin-left: auto;
}
