.cardsSearchContainer {
  display: flex;

  width: 95%;

  border-radius: 10px;

  background-color: #282828;

  margin-left: 30px;

  align-items: center;
}

.cardsSearchContainer h2 {
  color: white;
  margin-left: 20px;
}

.searchbarContainer {
  margin-left: auto;
  padding-right: 20px;
}

.searchbarContainer input {
  border-radius: 5px;
  border: none;
  border-radius: 0;
  background-color: #eee;
  height: 30px;
}

.searchbarContainer button {
  margin-left: 10px;

  background-color: #a4a4a4;
  border: none;
  border-radius: 10px;

  color: #191c1f;
  font-weight: bold;
  font-size: 15px;

  align-self: flex-start;

  width: 150px;
  height: 30px;

  cursor: pointer;
}
